
.container3{
    background-image: url('./img/log1.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}
.form1{
   height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.login1{
align-items: center;
justify-content: center;
    height: 100vh;
    display: flex;
}
.loginhead{
    font-size: 30px;
    font-weight: 600;
    color: rgb(2, 36, 50);
    font-family: sans-serif;
}
.inputlog{
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.logbutton{
    border-radius: 5px;
    padding: 3px;
    margin: 50px;
}